{% INCLUDE 'overall_header.html' %}

<h2>{{ lang('GROUP_TITLE') }}</h2>

<p>{{ lang('GROUPS_TEXT') }}</p>

{% for groups in loops.groups %}
<div class="panel">
	<div class="inner">
		<div class="group-left">
			<h2 style="margin-top: 0;"><a href="{{ groups.U_VIEW_GROUP }}" style="{% if groups.GROUP_COLOUR %} color: #{{ groups.GROUP_COLOUR }};{% endif %}" title="{{ groups.GROUP_NAME }}">{{ groups.GROUP_NAME }}</a></h2>
			<p class="group-rank">
				{{ groups.RANK_IMG }}
				{{ groups.GROUP_RANK }}<br />
				{{ groups.GROUP_DESC }}
			</p>
		</div>
		<div class="group-right">
			{% for leaders in groups.leaders %}
				<span class="group-leaders"{% if leaders.S_LAST_ROW %} style="border-bottom: 1px dotted {% if groups.GROUP_COLOUR %}#{{ groups.GROUP_COLOUR }}{% endif %};"{% endif %}><strong>&raquo;</strong> {{ leaders.U_VIEW_PROFILE }}</strong></span>
			{% else %}
				<span class="group-leaders" style="border-bottom: 1px dotted {% if groups.GROUP_COLOUR %}#{{ groups.GROUP_COLOUR }}{% endif %};">{{ lang('NO_LEADERS') }}</span>
			{% endfor %}
			<div class="group-container">
				{% for members in groups.members %}
					<span class="group-members">{{ members.U_VIEW_PROFILE }}</span>
				{% else %}
					<span class="group-members">{{ lang('NO_MEMBERS') }}</span>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endfor %}

{% INCLUDE 'overall_footer.html' %}
